@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Dancing+Script:wght@400..700&display=swap');

/* Fonts */

/* Colors */
:root {
  --color-default: #212529;
  --color-primary: #ffb985;
  --color-secondary: #37373f;
}

/* Smooth scroll behavior */
:root {
  scroll-behavior: smooth;
}

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: "Poppins", sans-serif;
  color: var(--color-default);
  border: 1px solid #222;
  background: #fffeec;
}

a {
  color: var(--color-primary);
  text-decoration: none;
}

a:hover {
  color: #222;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-secondary);
}

/*--------------------------------------------------------------
# Sections & Section Header
--------------------------------------------------------------*/
section {
  overflow: hidden;
  padding: 60px 0 12px;
  scroll-margin-top: 90px;
  overflow: clip;
}

.section-bg {
  background-color: #eee;
}

.section-header {
  text-align: center;
     padding-bottom: 10px;
}



.section-header p {
    margin: 0;
    font-size: 38px;
    font-weight: 400;
    font-family: "DM Serif Display", serif;
    text-transform: uppercase;
}


/*--------------------------------------------------------------
# Breadcrumbs
--------------------------------------------------------------*/
.breadcrumbs {
  padding: 15px 0;
  background: rgba(55, 55, 63, 0.05);
  margin-top: 90px;
}

@media (max-width: 575px) {
  .breadcrumbs {
    margin-top: 70px;
  }
}

.breadcrumbs h2 {
  font-size: 24px;
  font-weight: 400;
  margin: 0;
}

.breadcrumbs ol {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 14px;
}

.breadcrumbs ol li+li {
  padding-left: 10px;
}

.breadcrumbs ol li+li::before {
  display: inline-block;
  padding-right: 10px;
  color: #676775;
  content: "/";
}

@media (max-width: 992px) {
  .breadcrumbs .d-flex {
    display: block !important;
  }

  .breadcrumbs h2 {
    margin-bottom: 10px;
  }

  .breadcrumbs ol {
    display: block;
  }

  .breadcrumbs ol li {
    display: inline-block;
  }
}



/*--------------------------------------------------------------
# Disable aos animation delay on mobile devices
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
.header{background:#083f87;transition:all .5s;z-index:997;height:55px;border:1px solid #222}
@media (max-width: 575px) {
.header{height:70px}
}
.header.sticked{border-color:#fff;border-color:#eee;border:1px solid #222}
.header .logo img{max-height:40px;margin-right:6px}
.header .logo h1{font-size:28px;font-weight:700;color:#000;margin:0;font-family:var(--font-secondary)}
.header .logo h1 span{color:var(--color-primary)}


/*--------------------------------------------------------------
# Desktop Navigation
--------------------------------------------------------------*/
@media (min-width: 1280px) {
  .navbar{padding:0}
  .navbar ul{margin:0;padding:0;display:flex;list-style:none;align-items:center}
  .navbar li{position:relative}
  .navbar>ul>li{white-space:nowrap;padding:10px 0 10px 76px}
  .navbar a,.navbar a:focus{display:flex;align-items:center;justify-content:space-between;padding:0 3px;font-family:var(--font-secondary);font-size:16px;font-weight:600;color:#222;white-space:nowrap;transition:.3s;position:relative;text-transform:uppercase}
  .navbar a i,.navbar a:focus i{font-size:12px;line-height:0;margin-left:5px}
  .navbar a:hover:before,.navbar li:hover>a:before,.navbar .active:before{visibility:visible;width:100%}
  .navbar a:hover,.navbar .active,.navbar .active:focus,.navbar li:hover>a{color:#000}
  }

  .navbar .dropdown ul {display: block; position: absolute;left: 28px;top: calc(100% + 30px);margin: 0; padding: 10px 0;z-index: 99;opacity: 0;visibility: hidden;background: #fff; box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);transition: 0.3s;border-radius: 4px;}
  .navbar .dropdown ul li{min-width:200px}
  .navbar .dropdown ul a{padding:10px 20px;font-size:15px;text-transform:none;font-weight:600}
  .navbar .dropdown ul a i{font-size:12px}
  .navbar .dropdown ul a:hover,.navbar .dropdown ul .active:hover,.navbar .dropdown ul li:hover>a{color:var(--color-primary)}
  .navbar .dropdown:hover>ul{opacity:1;top:100%;visibility:visible}
  .navbar .dropdown .dropdown ul{top:0;left:calc(100% - 30px);visibility:hidden}
  .navbar .dropdown .dropdown:hover>ul{opacity:1;top:0;left:100%;visibility:visible}
  @media (min-width: 1280px) and (max-width: 1366px) {
  .navbar .dropdown .dropdown ul{left:-90%}
  .navbar .dropdown .dropdown:hover>ul{left:-100%}
  }
  @media (min-width: 1280px) {
  .mobile-nav-show,.mobile-nav-hide{display:none}
  }
/*--------------------------------------------------------------
# Mobile Navigation
--------------------------------------------------------------*/
@media (max-width: 1279px) {
  .navbar{position:fixed;top:0;right:-100%;width:100%;max-width:260px;border-left:1px solid #666;bottom:0;transition:.3s;z-index:9997}
  .navbar ul{position:absolute;inset:0;padding:16px 0 10px;margin:0;background:#083f87;overflow-y:auto;transition:.3s;z-index:9998}
  .navbar a,.navbar a:focus{display:flex;align-items:center;justify-content:space-between;padding:10px 20px;font-family:var(--font-secondary);border-bottom:0 solid #fff;font-size:16px;font-weight:500;color:#fff;white-space:nowrap;transition:.3s}
  .navbar a i,.navbar a:focus i{font-size:12px;line-height:0;margin-left:5px}
  .navbar a:hover,.navbar li:hover>a{color:#fff;        font-weight: 600;}
  .navbar .active,.navbar .active:focus{color:#fff;border-color:var(--color-primary)}
  .navbar .dropdown ul,.navbar .dropdown .dropdown ul{position:static;display:none;padding:10px 0;margin:10px 20px;transition:all .5s ease-in-out;border:1px solid #eee}
  .navbar .dropdown>.dropdown-active,.navbar .dropdown .dropdown>.dropdown-active{display:block}
  .mobile-nav-show{color: #fff;font-size:28px;cursor:pointer;line-height:0;transition:.5s;z-index:9999;margin:0 10px 0 20px}
  .mobile-nav-hide{color: #fff;font-size:32px;cursor:pointer;line-height:0;transition:.5s;position:fixed;right:20px;top:20px;z-index:9999}
  .mobile-nav-active{overflow:hidden}
  .mobile-nav-active .navbar{right:0}
  .mobile-nav-active .navbar:before{content:"";position:fixed;inset:0;background:rgba(255,255,255,0.8);z-index:9996}
  }
/*--------------------------------------------------------------
# About Section
--------------------------------------------------------------*/
#aboutus .cnt p {
    text-align: left;
    font-size: 14px;
}
#aboutus .cnt{position:relative;background:#fffeec;width:1200px;padding:0 134px}
#aboutus .btn-herobtn {
    text-align: left;
    display: block;
    margin: 0 0px 0px -6px;
}
#aboutus .section-header{text-align:center;padding-bottom:15px;padding-top:20px}

#aboutus .section-header{padding-bottom: 0px;}
/*--------------------------------------------------------------
# Services Section
--------------------------------------------------------------*/

.mission-text{width:90%;max-width:45em;margin-left:auto;margin-right:auto}
.heading-4{text-transform:uppercase;padding-left:0;color:var(--brown);margin-top:0;margin-bottom:0;font-family:Goodmono,sans-serif;font-size:1.8em;line-height:1.4em}
.heading-4-underline{font-size:1.75vw;font-weight:100;text-decoration:underline}
.services{background:#fffabfe0}
.services .section-header{background:#ffd6c0;padding:0;margin:0;border-bottom:1px solid #222;border-top-left-radius:15px;border-top-right-radius:15px}
.services .row{border:1px solid #222;border-radius:15px;padding-bottom:20px}
.services .services-img{min-height:500px}

/*--------------------------------------------------------------
# Menu Section
--------------------------------------------------------------*/
.menu .nav-tabs{border:0}
.menu .nav-link{margin:0 10px;padding:10px 5px;transition:.3s;color:var(--color-secondary);border-radius:0;cursor:pointer;height:100%;border:0;border-bottom:2px solid #b6b6bf}
@media (max-width: 575px) {
.menu .nav-link{margin:0 10px;padding:10px 0}
}
.menu .nav-link i{padding-right:15px;font-size:48px}
.menu .nav-link h4{font-size:18px;font-weight:400;margin:0;font-family:var(--font-secondary)}
@media (max-width: 575px) {
.menu .nav-link h4{font-size:16px}
}
.menu .nav-link:hover{color:var(--color-primary)}
.menu .nav-link.active{color:var(--color-primary);border-color:var(--color-primary)}
.menu .tab-content .tab-header{padding:30px 0}
.menu .tab-content .tab-header p{font-size:14px;text-transform:uppercase;color:#676775;margin-bottom:0}
.menu .tab-content .tab-header h3{font-size:36px;font-weight:600;color:var(--color-primary)}
.menu .tab-content .menu-item{-moz-text-align-last:center;text-align-last:center}
.menu .tab-content .menu-item .menu-img{padding:0 60px;margin-bottom:15px}
.menu .tab-content .menu-item h4{font-size:22px;font-weight:500;color:var(--color-secondary);font-family:var(--font-secondary);font-weight:30px;margin-bottom:5px}
.menu .tab-content .menu-item .ingredients{font-family:var(--font-secondary);color:#8d8d9b;margin-bottom:5px}
.menu .tab-content .menu-item .price{font-size:24px;font-weight:700;color:var(--color-primary)}

/*--------------------------------------------------------------
# Gallery Section
--------------------------------------------------------------*/
.gallery{overflow:hidden}
.gallery .swiper-pagination{margin-top:20px;position:relative}
.gallery .swiper-pagination .swiper-pagination-bullet{width:12px;height:12px;background-color:#d1d1d7;opacity:1}
.gallery .swiper-pagination .swiper-pagination-bullet-active{background-color:var(--color-primary)}
.gallery .swiper-slide-active{text-align:center}
.swiper-slide{border:1px solid #222;border-radius:10px}
.swiper-slide.swiper-slide-prev{display:block;margin:0 auto;text-align:center;width:35em;margin-top:auto;margin-bottom:auto;margin-left:auto;display:block}
.swiper-slide img{border-radius:10px}
@media (min-width: 992px) {
.gallery .swiper-wrapper{padding:40px 0}
.gallery .swiper-slide-active{border:6px solid var(--color-primary);padding:4px;background:#fff;z-index:1;transform:scale(1.2);margin:0 auto;text-align:center;display:block}
.gallery .swiper-container{overflow:visible}
.gallery .swiper-wrapper{justify-content:center}
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
.btn-herobtn
 {
    background: #ffb985;
    color: #222;
    border: 1px solid #222;
    border-radius: 50px;
    padding: 8px 8px;
    text-transform: math-auto;
    font-size: 14px;
}
/* FOOTER */
#footer,#footer .footer-top{background:#083f87; padding:2px 0}
#footer{margin-top:13px;color:#222;font-size:14px; border: 0;}
#footer h3{font-size:17px;text-align:center; color: #fff;}

/* PORTFOLIO */
.portfolio #portfolio-flters li{display:inline-block;transition:.3s}
.portfolio #portfolio-flters{padding:2px 15px;margin:0 auto 25px;list-style:none;text-align:center;border-radius:50px}
.portfolio #portfolio-flters li{    font-family: 'Poppins'; cursor:pointer;padding:7px 0;font-size:17px;font-weight:400;line-height:1;color:#444;margin:0 10px;border-bottom: 2px solid #fff;}
.portfolio #portfolio-flters li.filter-active,.portfolio #portfolio-flters li:hover{color:#1a1a1a;border-bottom:2px solid #ffb985; padding:7px 0}
.portfolio .portfolio-wrap{transition:.3s;position:relative;overflow:hidden;z-index:1;background:rgba(255,255,255,.75);  box-shadow:rgba(0,0,0,0.24) 0 3px 8px; border-radius: 14px;}
.portfolio .portfolio-wrap::before{content:"";background:rgba(255,255,255,.75);position:absolute;left:30px;right:30px;top:30px;bottom:30px;transition:.3s ease-in-out;z-index:2;opacity:0}
.portfolio .portfolio-wrap img{transition:1s}
.portfolio .portfolio-wrap .portfolio-info{opacity:0;position:absolute;top:0;left:0;right:0;bottom:0;text-align:center;background:#22222273; z-index:3;transition:.3s ease-in-out;display:flex;flex-direction:column;justify-content:center;align-items:center}
.portfolio .portfolio-wrap .portfolio-info::before{display:block;content:"";width:48px;height:48px;position:absolute;top:35px;left:35px;border-top:3px solid rgba(1,41,112,.2);border-left:3px solid rgba(1,41,112,.2);transition:.5s;z-index:9994}
.portfolio .portfolio-wrap .portfolio-info::after{display:block;content:"";width:48px;height:48px;position:absolute;bottom:35px;right:35px;border-bottom:3px solid rgba(1,41,112,.2);border-right:3px solid rgba(1,41,112,.2);transition:.5s;z-index:9994}
.portfolio .portfolio-wrap .portfolio-info h4{font-size:20px;color:#012970;font-weight:700}
.portfolio .portfolio-wrap .portfolio-info p{color:#012970;font-weight:600;font-size:14px;text-transform:uppercase;padding:0;margin:0}
.portfolio .portfolio-wrap .portfolio-links{text-align:center;z-index:4}
.portfolio .portfolio-wrap .portfolio-links a{border-radius: 11px; box-shadow:rgba(0,0,0,0.05) 0 6px 24px 0px,rgba(0,0,0,0.08) 0 0 0 1px;color:#fff;background:#222;margin:10px 2px;width:45px;height:45px;display:inline-flex;align-items:center;justify-content:center;transition:.3s}
.portfolio .portfolio-wrap .portfolio-links a i{font-size:27px;line-height:0}
.portfolio .portfolio-wrap .portfolio-links a:hover{background:#beb9f2;color:#fff}
.portfolio .portfolio-wrap:hover img{transform:scale(1.1)}
.portfolio .portfolio-wrap:hover::before{top:0;left:0;right:0;bottom:0;opacity:1}
.portfolio .portfolio-wrap:hover .portfolio-info{opacity:1}
.portfolio .portfolio-wrap:hover .portfolio-info::before{top:15px;left:15px}
.portfolio-details{padding-top:40px}
.portfolio-details .portfolio-details-slider img{width:100%}
.portfolio-details .portfolio-details-slider .swiper-pagination{margin-top:20px;position:relative}
.portfolio-details .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet{width:12px;height:12px;background-color:#fff;opacity:1;border:1px solid #beb9f2}
.portfolio-details .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet-active{background-color:#beb9f2}
.portfolio-details .portfolio-info{padding:30px;box-shadow:0 0 30px rgba(1,41,112,.08)}
.portfolio-details .portfolio-info h3{font-size:22px;font-weight:700;margin-bottom:20px;padding-bottom:20px;border-bottom:1px solid #eee}
.portfolio-details .portfolio-info ul{list-style:none;padding:0;font-size:15px}
.portfolio-details .portfolio-info ul li+li{margin-top:10px}
.portfolio-details .portfolio-description{padding-top:30px}
.portfolio-details .portfolio-description h2{font-size:26px;font-weight:700;margin-bottom:20px}
.glightbox-clean .gdesc-inner{display:none}
#portfolio p {
    margin: 0;
    font-size: 38px;
    font-weight: 400;
    font-family: "DM Serif Display", serif;
    text-transform: uppercase;
}
section#portfolio {
    padding: 25px 0 12px;
}
/* SERVICES START */

/* RESPONSIVE */
@media screen and (max-width:767px) 
{
  #hero h2{font-size:23px!important}
  #hero .hide{display:block}
  #header .logo img{display:none}
  #hero .container{padding-top:20px;padding-bottom:10px}
  .navbar a:nth-child(1){padding:2px 36px 7px 30px}
  #hero .content{margin-left:0}
  #hero{padding:40px 0}
  .navbar-mobile a,.navbar-mobile a:focus{color:#fff!important}
  .footer-info,.pp,.section-title h2{text-align:center}
  #hero .container{padding-top:50px; text-align: center;}
  img.img-fluid.aos-init.aos-animate{margin-top:15px}
  .portfolio #portfolio-flters{padding:2px 10px}
  #hero h1{font-size:35px}
  .section-title h2{font-size:40px}
  #hero h2{font-size:19px}
  #hero h3{line-height:22px;font-size:15px}
  .section-title{padding-bottom:20px}
  html,body{overflow-x:hidden;}
  #hero .col-lg-7 {margin: 0;}
  img.img-fluid.aos-init.aos-animate {
    margin-top: -40px;width: 50%;}
}


@media screen and (min-width:768px) and (max-width:991px) 
{
  .portfolio #portfolio-flters li{padding:15px 6px 10px 0}
  #hero h1,#hero h3{text-align:center}
  #hero .content{margin-left:0}
  .navbar-mobile ul{display:block;padding-left:30px!important}
  .mobile-nav-toggle{display:block; color: #fff !important;}
}
@media(max-width:411px) 
{
  .footer-info,.pp,.separet-span{text-align:center}
  .portfolio #portfolio-flters{padding:2px 10px}
  #header.header-scrolled .mobile-nav-toggle{display:block; color: #fff !important;}
  #aboutus .cnt{clip-path: none; padding: 0 15px;}
  #aboutus .cnt p {
    text-align: center;
    font-size: 13px;
}
  #aboutus .section-header {
    text-align: center !important;
}
  #aboutus h1 {
    text-align: left;font-size: 38px;}
  .heading-4-underline {font-size: 13px;}
  .services {text-align: center;}
}
}
